* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial;
  color: #001057;
}
body,
html {
  font-size: 13px;
  background-color: #dfdfdf;
  height: 100%;
}
button {
  background: #284fff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  outline: none;
}
.setMeFree {
  clear: both;
}
form#messageForm {
  position: absolute;
  bottom: 1%;
  width: 100%;
}
form#messageForm input {
  border: 0;
  padding: 2% 2.5%;
  width: 81%;
  margin: 0 2.5%;
  box-shadow: inset 0 0 2px #bcbec0;
  border-radius: 3px;
}
form#messageForm button {
  padding: 2% 3%;
}
input {
  outline-color: #284fff;
}
.mainHeader {
  font-size: 1.4em;
  color: #fff7de;
  float: right;
  display: inline-block;
  padding: 20px 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 9.5%;
  height: auto;
  width: 100%;
}
#messages li {
  padding: 5px 2.5%;
}
#messages li img.emojione {
  height: 13px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  position: relative;
  background-color: #fff7de;
}
.statusContainer,
.chatContainer {
  position: absolute;
  height: 100%;
}
.statusContainer {
  width: 30%;
  background-color: #fff7de;
}
.statusContainer .statusInnerContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.statusContainer .headerBox {
  background-color: #284fff;
  height: 100px;
  width: 100%;
  float: left;
}
.statusContainer .headerBox #logo {
  height: 50px;
  width: 50px;
  margin: 9px 0px 0px 6px;
  display: inline-block;
}
.statusContainer .headerBox .connectState {
  background-color: orange;
  color: white;
  float: left;
  width: 100%;
  padding: 9px;
}
.statusContainer .headerBox .connectState.Connected {
  background-color: #7fdd7f;
}
.statusContainer .userBox {
  box-shadow: inset -1px 0px 0px #dfdfdf;
  height: 100%;
}
.statusContainer .userBox .user {
  padding: 10px;
  float: left;
  width: 100%;
}
.chatContainer {
  width: 70%;
  right: 0;
}
.promptContainer {
  background-color: rgba(255, 255, 255, 0.8);
}
.connectPrompt {
  position: absolute;
  background-color: white;
  width: 280px;
  height: 87px;
  padding: 10px;
  text-align: center;
  left: 50%;
  margin-left: -140px;
  top: 30%;
  box-shadow: 0 0 4px #dfdfdf;
}
.connectPrompt input {
  float: left;
  border: 0;
  padding: 9px 6px;
  box-shadow: 0 0 2px #dfdfdf;
}
.connectPrompt button {
  float: right;
}
input.error {
  box-shadow: 0 0 2px red;
  outline: none;
}
.promptText {
  padding-bottom: 10px;
}
button.inactive {
  background: #dfdfdf;
}
button.inactive:hover {
  color: #555555;
}
.typingStatus {
  bottom: 6.5%;
  position: absolute;
  padding: 0 2.5%;
}
