@darkYellow : #B28C1A;
@lightYellow : #FFF7DE;
@yellow : #FFCF3F;
@darkBlue : #001057;
@blue : #284FFF;
@lightGrey : #dfdfdf;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Helvetica, Arial;
    color:@darkBlue;
}
body, html {
    font-size: 13px;
    background-color:@lightGrey;
    height:100%;
}
button {
    background: @blue;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor:pointer;
    color:white;
    outline:none;
}
.setMeFree {
    clear: both;
}
form#messageForm {
    // padding: 3px;
    position: absolute;
    bottom: 1%;
    width: 100%;
    input {
        border: 0;
        padding: 2% 2.5%;
        width: 81%;
        margin:0 2.5%;
        box-shadow: inset 0 0 2px #bcbec0;
        border-radius: 3px;
    }
    button {
        padding: 2% 3%;
    }
}
input {
    outline-color:@blue;
}
.mainHeader {
    font-size: 1.4em;
    color:@lightYellow;
    float: right;
    display: inline-block;
    padding: 20px 10px;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom:9.5%;
    height:auto;
    width: 100%;
    li {
        padding: 5px 2.5%;
        img.emojione {
            height: 13px;
        }
    }
    li:nth-child(odd) {
        background: #eee;
    }
}
.container {
    width: 70%;
    margin: 0 auto;
    height:100%;
    position: relative;
    background-color: @lightYellow;
}
.statusContainer, .chatContainer {
    position:absolute;
    height:100%;
}
.statusContainer {
    width: 30%;
    background-color: @lightYellow;
    // box-shadow: inset -1px 0px 0px @lightGrey;
    .statusInnerContainer {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .headerBox {
        background-color: @blue;
        height:100px;
        width:100%;
        float:left;
        #logo {
            height:50px;
            width:50px;
            margin:9px 0px 0px 6px;
            display: inline-block;
        }
        .connectState {
            background-color: orange;
            color:white;
            float: left;
            width: 100%;
            padding: 9px;
            &.Connected {
                background-color: #90EE90 - #111;
            }
        }
    }
    .userBox {
        box-shadow: inset -1px 0px 0px @lightGrey;
        height:100%;
        .user {
            padding: 10px;
            float: left;
            width: 100%;
        }
    }
}
.chatContainer {
    width: 70%;
    right: 0;
}
.promptContainer {
    background-color:rgba(255,255,255,0.8);
}
.connectPrompt {
    position: absolute;
    background-color: white;
    width: 280px;
    height: 87px;
    padding: 10px;
    text-align: center;
    left: 50%;
    margin-left: -140px;
    top: 30%;
    box-shadow: 0 0 4px #dfdfdf;
    input {
        float:left;
        border:0;
        padding: 9px 6px;
        box-shadow: 0 0 2px #dfdfdf;
    }
    button {
        float:right;
    }
}
input.error {
    box-shadow: 0 0 2px red;
    outline:none;
}
.promptText {
    padding-bottom:10px;
}
button.inactive {
    background: #dfdfdf;
    &:hover {
        color:#555555;    
    }
}
.typingStatus {
    bottom:6.5%;
    position: absolute;
    padding: 0 2.5%;
}